* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(imagens/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 815px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.faixa-quebra {
  display: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    background: #121214 url(imagens/Desktop.svg) no-repeat center;
  }

  main {
    position: relative;
    background: url(imagens/background.svg) no-repeat center;
    width: 22rem;
    min-height: 540px;
    height: 34rem;
  }

  .container {
    position: absolute;
    top: -7.9rem;
    max-width: none;
  }

  .container ul {
    margin: 2.5rem auto 2rem;
  }

  .faixa-quebra {
    display: flex;
    position: absolute;
    width: 5rem;
    height: 11.9rem;
    top: -1.9rem;
    left: 8.7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .faixa {
    height: 9.9rem;
    width: 4rem;
    background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    border: none;
  }

  .quebra {
    width: 5rem;
    height: 0.5rem;
    background: hsla(240, 6%, 8%, 1);
    border: none;
  }


}
